body {
  background-image: url("student1.jpg");
  background-color: ##f9f871;
}

.header {
  object-fit: contain;
  background-color: none;
  width: 97%;
  height: 90px;
  margin: auto;
}

.header_content {
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header_logo {
  display: flex;
  object-fit: contain;
  width: 20%;
  height: 100%;
}

.buttons {
  padding-right: 10%;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactlogin {
  padding-right: 5%;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.contactlogin_buttons {
  padding: 5px 15px 6px 15px;
  color: white;
  background-color: rgb(34, 106, 182);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  display: flex;
  text-decoration: none;
}

.contactlogin_buttons:hover {
  transform: scale(0.95);
  color: white;
  background-color: rgb(67, 124, 184);
}

.main-buttons {
  padding: 5px 15px 6px 15px;
  color: white;
  background-color: rgb(34, 106, 182);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
}

.main-buttons:hover {
  transform: scale(0.95);
  color: rgb(34, 106, 182);
  background-color: white;
  border-color: rgb(34, 106, 182);
  border-width: 2px;
  border-style: solid;
}

a {
  text-decoration: none;
}

.content-text-place {
  width: 50%;
  height: auto;
  margin-top: 10%;
  margin-left: 3%;
}

.dropdown {
  margin-right: 100px;
  margin-top: 25px;
}

.dropdown-coloring {
  background-image: linear-gradient(
    180deg,
    rgb(92, 170, 253),
    rgba(159, 3, 250, 0.681)
  );
  border-radius: 5px;
  border: none;
}

.dropdown-coloring:hover {
  background-color: white;
  color: rgba(34, 0, 188, 0.681);
  border-color: linear-gradient(
    180deg,
    rgb(131, 191, 255),
    rgba(34, 0, 188, 0.681)
  );
  border-width: 2px;
}

.cards {
  margin-top: 200px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}

.card1 {
  width: 350px;
}

.card2 {
  width: 350px;
}
.card3 {
  width: 350px;
}

.card_pic {
  width: 300px;
  height: auto;
}

.card-body {
  margin-top: 20px;
}

.card-text {
  margin-top: 10px;
}

/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

.social {
  width: 50%;
  height: auto;
}
