body {
  background-image: url("student1.jpg");
  background-color: salmon;
}

.header {
  object-fit: contain;
  background-color: none;
  width: 97%;
  height: 90px;
  margin: auto;
}

.header_content {
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header_logo {
  display: flex;
  object-fit: contain;
  width: 20%;
  height: 100%;
}

.buttons {
  padding-right: 10%;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactlogin {
  padding-right: 5%;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.contactlogin_buttons {
  padding: 5px 15px 6px 15px;
  color: white;
  background-color: rgb(34, 106, 182);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  display: flex;
  text-decoration: none;
}

.contactlogin_buttons:hover {
  transform: scale(0.95);
  color: white;
  background-color: rgb(67, 124, 184);
}

.main-buttons {
  padding: 5px 15px 6px 15px;
  color: white;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
}

.main-buttons:hover {
  transform: scale(0.95);
  color: white;
  background-color: rgb(56, 56, 56);
}

a {
  text-decoration: none;
}

.content-text-place {
  width: 50%;
  height: auto;
  margin-top: 10%;
  margin-left: 3%;
}

.dropdown {
  margin-right: 100px;
  margin-top: 25px;
}

.dropdown-menu {
  background-color: black;
  color: aqua;
  border-radius: 10px;
}

.cards {
  margin-top: 200px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}

.card1 {
  width: 300px;
}

.card2 {
  width: 300px;
}
.card3 {
  width: 300px;
}

.card_pic {
  width: 300px;
  height: auto;
}

.card-body {
  margin-top: 20px;
}

.card-text {
  margin-top: 10px;
}
